<!-- <button mat-raised-button>Hellow Angular</button>
<div class="mat-display-1">View</div>
<div class="mat-display-2">View</div>
<div class="mat-display-3">View</div>
<div class="mat-display-4">View</div>
<div class="mat-headline">View</div>
<div class="mat-title">View</div>
<div class="mat-subheading-2">View</div>
<div class="mat-subheading-1">View</div>

<div class="mat-body-1">View</div>
<div class="mat-body-2">View</div>
<div class="mat-caption">View</div>

<mat-icon color='primary'>fingerprint</mat-icon>
<mat-icon >fingerprint</mat-icon> -->
<!-- 
<div style='text-align: center;margin-top: 10rem;'>

  <button mat-raised-button (click)="openDialog()">Open Dialog</button>
</div> -->
<!-- <app-expansion-pane></app-expansion-pane>> -->

<app-navbar></app-navbar>
<router-outlet></router-outlet>